<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>People</title>
    <style>
        table th, table td {
            padding: 5px;
            text-align-last: right;
        }

        .row {
            font-style: normal;
        }

        .even-row {
            color: black;
        }

        .odd-row {
            color: darkblue;
        }
    </style>
</head>
<body>
<h1>People</h1>

<br/>
<form action="/admin/people/add">
    <button type="submit" >Add new user
    </button>
</form>
<br/>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>E-mail</th>
        <th>Login</th>
        <th>Password</th>
        <th>Role</th>
        <th>Edit User</th>
    </tr>

    <th:block th:each="user, state: ${allUsers}"
              class="row" th:classappend="${state.odd} ? 'odd-row' : 'even-row'">
        <tr>
            <!--<td th:text="${state.count}">No</td>-->
            <td><a th:href="@{/admin/people/{id}(id=${user.getId()})}" th:text="${user.id}">Id</a></td>
            <td th:text="${user.firstName}">Name</td>
            <td th:text="${user.lastName}">Last Name</td>
            <td th:text="${user.age}">Age</td>
            <td th:text="${user.email}">E-mail</td>
            <td th:text="${user.login}">Login</td>
            <td th:text="${user.password}">Password</td>
            <td th:text="${user.roleName}">Role</td>
            <td>
                <form
                      th:action="@{/admin/people/{id}/edit(id=${user.getId()})}">
                    <button type="submit" >Edit user</button>
                </form>
            </td>
        </tr>
    </th:block>
</table>
<br/>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Role</th>
    </tr>
    <th:block th:each="role : ${allRoles}">
        <tr>
            <!--<td th:text="${state.count}">No</td>-->
            <td th:utext="${role.id}">Id</td>
            <td th:utext="${role.roleName}">Role</td>
        </tr>
    </th:block>
</table>
<br/>
<br/>

<!--<table border="1">
    <tr>
        <th>UserId</th>
        <th>RoleId</th>
    </tr>
<th:block th:each="user: ${allUsers}">
    <th:block th:each="role: ${allRolls}"
              class="row" th:classappend="${state.odd} ? 'odd-row' : 'even-row'">
        <tr>
            &lt;!&ndash;<td th:text="${state.count}">No</td>&ndash;&gt;
            <td th:text="${user.id}">UserId</td>
            <td th:text="${role.id}">RoleId </td>
        </tr>
    </th:block>
</th:block>
</table>-->

</body>
</html>