<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>Hi, User!</h1>

<br>
Your Login:
<span th:utext="${username}"></span>
<br>
Your Role (Roles):
<span th:text="${roleSet}"></span>

<br><br>

<br/>
<br/>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>E-mail</th>
        <th>Login</th>
        <th>Password</th>
        <th>Edit</th>
    </tr>

    <th:block th:each="user, state : ${user}"
              class="row" th:classappend="${state.odd} ? 'odd-row' : 'even-row'">
        <tr>
            <!--<td th:text="${state.count}">No</td>-->
            <td th:text="${user.getId()}">VALUE</td>
            <td th:text="${user.getFirstName()}">VALUE</td>
            <td th:text="${user.getLastName()}">VALUE</td>
            <td th:text="${user.getAge()}">VALUE</td>
            <td th:text="${user.getEmail()}">VALUE</td>
            <td th:text="${user.getLogin()}">VALUE</td>
            <td th:text="${user.getPassword()}">VALUE</td>
            <td>
                <form
                        th:action="@{/admin/people/{id}/edit(id=${user.getId()})}">
                    <button type="submit" >Edit user
                    </button>
                </form>
            </td>
        </tr>

    </th:block>

</table>
<br/>
<br/>
<div>
<form sec:authorize="isAuthenticated()" th:method="POST" th:action="@{/logout}">
        <a th:href="@{/logout}"></a>
    <button type="submit" >Logout</button>
</form>
</div>

</body>
</html>